@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student



<h3>Enroll a Student</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.EnrollmentDate)
  @Html.TextBoxFor(model => model.EnrollmentDate, new{@type="date"})

  <input type="submit" value="Enroll"/>
}
